:root { 
    /*Custome property o variables de CSS
    para guardar en este caso colores ya creados
    para usarlos despues */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    --fuente-principal: 3.8rem;

    /* En el root se pueden almacenar cualquier valor que quieras guardar
    para despues utilizarlos */
}

    /* GLOBALES */ 
    
html{
        font-size: 62.5%;
        box-sizing: border-box; /* Hack para box model */

        scroll-snap-type: y mandatory; /*se le agrega a todo html que vamos a agregar un scroll*/
    }

    /* Scrollsnap */
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after{
    box-sizing: inherit; /* Hack para que todas los box tengan un tamaño final definido y no se sume o reste con el tamaño definido de margenes o paddings*/
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%); 
    /* Background-image: linear-gradient lo vamos a utilizar para que de fondo de la pagina tengamos una degradado, en la primera variable decimos hacia donde sera el degradado, en el segundo el color inicial y el tercero es el color final */

}


.contenedor{
    max-width: 120rem; /*toma 1200pixeles como maximo y solamente si hay el espacio disponible */ 
    margin: 0 auto; /*para mantener el margen centrado es unicamente necesario usar "MARGIN" y 
                        el primer valor es para el de arriba y el de abajo y el segundo para el de la izquierda y la derecha
                        aunque igual podria tener 4 valores como: 10 auto 12 10; */

}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border:none;

}
@media (min-width: 768px) {
    .boton{
    width: auto;
        
    }
}
.boton:hover{
    cursor: pointer;
}

.sombra {
    
box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.46);
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;

}


        /* TIPOGRAFIA */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}
/* Titulos */
.titulo span {
    font-size: 2rem;
} 

/* Utilidades */
.w-sm-100{
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/* Navegacion principal */
.nav-bg{
    background-color: var(--secundario);

}

.navegacion-principal {
    display: flex; /* Desbloquea ciertas propiedades del display */ 
    flex-direction: column;
   /* justify-content: space-between; /*Para alinear horizontalmente se utiliza Justify /*Como por ejemplo espaciar cada elemento uno de otro **/
     /* Para alinear verticalmente se utiliza align-items*/ 
    /*SPACE-AROUND deja espacio entre las orillas y el doble entre cada elemento */
    /*SPACE-EVENLY deja el mismo espacio en la orilla al igual que entre cada elemento */
    justify-content: space-between;
}

@media (min-width: 768px) { /* Estos son los pixeles para una tablet*/
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }        
}

@media (min-width: 480px) { /*Estos son los pixeles para un telefono*/
    
}

@media (min-width: 1140px) { /*Estos pixeles funcionan para una laptop*/
    
}

@media (min-width: 1400px) { /*Funciona para una laptop y mas*/    
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700; /* Un font-weight es igual a poner el texto en negritas o bold*/
    padding: 1rem;

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    padding: relative0;
    margin-bottom: 2rem;
}

.contenido-hero{
    position:absolute;
    background-color: rgba(0,0,0,.7);  /* Anterior */
    background-color: rgb( 0 0 0 / 65%);
    width: 100%;    
    height: 100%;
    
    display: flex;
    flex-direction: column;     /** Cuando se aplica displayflex se alinea horizontalmente siempre y cuano no sea column, para alinear horizontalmente se utilizaria align-items y verticalmente con justify content7  **/
    align-items: center;        /** Asi ambos serian center y por lo tanto ambos quedarian centrados en el marco **/
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p{
    color: var(--blanco);
}

.contenido-hero .ubicacion{
    display: flex;
    align-items:flex-end;
}
/*  Servicios  */

@media (min-width: 768px) {
    
    .servicios{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem; /* Lo utilizamos para dar espacio entre los bordes del grid en lugar de utilizar un padding.*/
        /* Para dividir en partes iguales podemos usar porcenatajes o 'fr' que seria que toma una fraccion del espacio para cada columna por ejemplo 1fr 1fr 1fr*/
       /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 33.3% 33.3% 33.3%; /*todos estos son los mismos, dan el mismo resultado*/
    
        /* la cantidad de valores que se dan es igual a la cantidad de columnas que tendra el grid, lo mismo sucede en las filas(rows)
         /*Esta seria la forma corta para utilizar grid, los primeros dos valores es acerca de las filas y los segundos valores son de las columnas*/
        /* grid: 200px 800px / 300px 300px;  e igual se pueden utilizar porcentajes y las fracciones*/
        
    
        }
}
    .servicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicio h3{
        color:var(--secundario);
        font-weight: normal;
    }
    .servicio p{
        line-height: 2;
        text-align: center;
    }
    
    .servicio .iconos{height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex; /*ACTIVAMOS EL DISPLAY FLEX*/
    justify-content: space-evenly; /* ALINEAMOS HORIZONTALMENTE*/
    align-items: center; /* ALINEMAOS VERTICALMENTE*/
    }

    /** Contacto **/

    .formulario{
        background-color: var(--gris);
        width: min( 60rem, 100% ); /*Va a utilizar el valor mas pequeño, tomara 60rem o el 100% dependiendo de cual sea el valor mas pequeño entre esos dos*/
        margin: 0 auto; /*Este es mejor utilizarlo cuando sus clases padre no tienen displaflex y tengan un display block*/
        padding: 2rem;
        border-radius: 2rem;
    
    }

    .formulario fieldset{
        border: none;

    }

    .formulario legend{
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        color: var(--primario);
    }

    @media (min-width: 768px) {
        .contenedor-campos{
            display:grid;
            grid-template-columns: 50% 50%; /* este para decir el tamaño de las columnas*/
            grid-template-rows: auto auto 20rem; /*   */
            column-gap: 1rem;
        }

        .campo:nth-child(3),
         .campo:nth-child(4){
            /* Con nth-child nos va a seleccionar ya sea el primero, segundo, tercero, etc. dependiendo de que numero pongamos y de cuantas veces se repita el mismo nombre de la clase y asi no escribir mas clases*/
            grid-column: 1 / 3 ;/* lo utilizamos para posicionar un elemento y le decimos que vaya de la columna 1 a la 3*/
            
        }
    }
    .contenedor-campos{
        display: grid;

    }
    .campo{
        margin-bottom: 1rem;
    }
    .campo label{
        color:var(--blanco);
        font-weight: bold;
        margin-bottom: .5rem;
        display:block;

    }
    .campo textarea{
        height: 15rem;
    }

    .input-text{
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;

    }

    /* Footer */
    .footer{
        text-align: center;
    }
   
/* Display block para apilar de arriba abajo los enlaces o textos y display inline de izquierda a derecha */


/* --- Media Querie para hacer responsive la pagina */
/* Se definen diferentes tipos de media para los diferentes dispositivos
    Cada media se aplica para diferentes pixeles, es decir, tamaños de la pantalla y asi irse adaptando a los dif dispositivos */ 

/* Existen medias queries estandares que son por ejemplo:

        480px es para un telefono
        768px es para una tablet
        1140px para un monitor o una laptop
        1400px es para el tamaño mas grande  */




